
				<div class="col-lg-8">
					<div class="card">
						<div class="card-body">
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Dashboard</h6>
								</div>
								 
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">My orders</h6>
								</div>
								 
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Edit profile</h6>
								</div>
								 
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Change password </h6>
								</div>
								 
							</div>
							 
								 
							</div>
							 
					</div>
                    <div class=" btn btn-outline-primary">
                                         
                        <a href="{% url 'logout' %}">Logout</a>
                    </div>
				</div>